.anchor-link::after {
  opacity: 0;
  margin-left: 0.5rem;
  font-weight: 100;
  content: "#";
  position: absolute;
}
.anchor-link:hover::after {
  opacity: 1;
}

.ref-body a.card {
  text-decoration: none;
}
.ref-body .card-body *:last-child {
  margin-bottom: 0;
  padding-bottom: 0 !important;
}
.ref-body .card-body a {
  text-decoration: underline !important;
  text-decoration-style: dotted !important;
  color: #fff;
}
